<script>
	window.onload = function()
	{
		$('#nameEtu').keyup(function() 
		{ 
		    alert($(this).val()); // get the current value of the input field.
		});
	};
</script>
<div class="jumbotron">
	<h1>Espace Enseignant</h1>
	<form action="/getEtu/" method="POST">{% csrf_token %}
		<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Nom">
		<input type="text" class="form-control" id="firstName" name="firstName" placeholder="Prénom">
	  <button type="submit" class="btn btn-success btn-sm">Consulter</button>
	</form>
</div>
			