{% extends "base.html" %}

{% block content %}
  <h3>Espace Enseignant - {{ cours.nom }} ({{ cours.date }})</h3>
  
  <br/>
  
  {% include "rechercheEtu.html" %}
  
  <br/><br/>
  <form action='/genererAbsence' method='POST'>{% csrf_token %}<h4 id='titreListe'></h4>
	<input type='hidden' name='cours' value='{{ cours.id }}'/>
  <table id='list_etu' style='text-align: left;'>
  </table>
	<div id='submit_button'></div>
	</form>
  
  <script>
    listActivated = 0;
    nb_etu = 0;
  
    function addEtu(nom, prenom ,id)
    {
			nb_etu++;
      document.getElementById('suggestion').innerHTML = '';
      searchInput = document.getElementById('searchInput').value = '';
      if(listActivated == 0)
      {
        listAtivated = 1;				
        document.getElementById('titreListe').innerHTML = 
          "<em>Liste des étudiants absents - </em>";
				document.getElementById('submit_button').innerHTML = 
					"<button class='btn btn-primary' type='submit'>Valider</button>";
      }
      liste_etu = document.getElementById('list_etu').innerHTML;
      document.getElementById('list_etu').innerHTML = 
        liste_etu + "<tr id="+id+"><td>"+prenom+"</td><td>   </td><td>"+nom+"</td>"
          + "<td><input type='hidden' name='etudiant"+nb_etu+"' value='"+id+"'></td><td>   </td>"
          + "<td><button class='glyphicon glyphicon-remove btn' onclick='removeEtu("+id+")'/></td>";
  	}
    
    function removeEtu(id)
    {
      element = document.getElementById(id);
      document.getElementById('list_etu').deleteRow(element.rowIndex);
    }
    
  </script>
{% endblock %}