{% extends "base.html" %}

{% block content %}
	
	<h1>Espace Enseignant</h1>
  <h3 style="float: left;"><a href="../"><span class="glyphicon glyphicon-chevron-left"/></a><h3>
	<h3><em>{{ cours.nom }} ({{ cours.date }})</em></h3>
  <br/>
  
  {% include "rechercheEtu.html" %}
  
	<br/><br/>
	  <form action='/genererAbsence' method='POST'>{% csrf_token %}<h4 id='titreListe'></h4>
		
		{% if cours.renseigne %}
		<table id='list_absetu' class='table table-striped' style='text-align: left;'>
		</table>	
		{% endif %}
		
		<input type='hidden' name='cours' value='{{ cours.id }}'/>
		<table id='list_etu' class='table table-striped' style='text-align: left;'></table>
		<div id='submit_button'></div>
	</form>
  
  <script>
	
  	listActivated = 0;
  	nb_etu = 0;
  
    function addEtu(nom, prenom ,username)
    {
	  	nb_etu++;
      document.getElementById('suggestion').innerHTML = '';
      searchInput = document.getElementById('searchInput').value = '';
      if(listActivated == 0)
      {
        listActivated = 1;				
        document.getElementById('titreListe').innerHTML = 
          "<em>Liste des étudiants absents</em>";
				document.getElementById('submit_button').innerHTML = 
					"<button class='btn btn-primary' type='submit'>Valider</button>";
      }
		 liste_etu = document.getElementById('list_etu').innerHTML;
      document.getElementById('list_etu').innerHTML =   liste_etu 
	  	+ "<tr id="+username+"><td>"+prenom+"</td><td>"+nom+"</td>"
	    + "<td><input type='hidden' name='etudiant"+nb_etu+"' value='"+username+"'></td><td><a href='javascript:removeEtu(\""+username+"\");'><span  class='glyphicon glyphicon-remove' ></span></a></td></tr>";
  	}

    
    function removeEtu(username) {
      element = $(username);
      document.getElementById('list_etu').deleteRow(element.rowIndex);
    }
		
		function addAbsEtu(nom, prenom ,username) {
			nb_etu++;
			liste_absetu = document.getElementById('list_absetu').innerHTML;
      document.getElementById('list_absetu').innerHTML =   liste_absetu 
	  	+ "<tr id="+username+"><td>"+prenom+"</td><td>"+nom+"</td><td><input type='hidden' name='etudiant"+nb_etu+"' value='"+username+"'></td><td><a href='javascript:disableEtu(\""+username+"\");'><span class='glyphicon glyphicon-log-out' data-toggle='tooltip' data-placement='right' title='Annuler cette absence'></span></a></td></tr>";
		}
		
		function activeEtu(username) {
			nb_etu++;
     	element = document.getElementById(username);
			element.deleteCell(2);
			element.insertCell(2).innerHTML = "<input type='hidden' name='etudiant"+nb_etu+"' value='"+username+"'>";
			element.deleteCell(3);
			element.insertCell(3).innerHTML = "<a href='javascript:disableEtu(\""+username+"\");'><span class='glyphicon glyphicon-log-out' data-toggle='tooltip' data-placement='right' title='Reactiver cette absence'></span></a>";
			$('.glyphicon').tooltip();
    }
		
		function disableEtu(username) {
			if(listActivated == 0)
      {
        listActivated = 1;				
        document.getElementById('titreListe').innerHTML = 
          "<em>Liste des étudiants absents</em>";
				document.getElementById('submit_button').innerHTML = 
					"<button class='btn btn-primary' type='submit'>Valider</button>";
      }
			nb_etu--;
      element = document.getElementById(username);
			element.deleteCell(2);
			element.insertCell(2).innerHTML = "";
			element.deleteCell(3);
			element.insertCell(3).innerHTML = "<a href='javascript:activeEtu(\""+username+"\");'><span class='glyphicon glyphicon-log-in' data-toggle='tooltip' data-placement='right' title='Reactiver cette absence'></span></a>";	
			$('.glyphicon').tooltip();
    }
    
		window.onload = function() {
		{% for abs in list_absences %}
			addAbsEtu(
				'{{abs.etudiant.user.last_name}}',
				'{{abs.etudiant.user.first_name}}',
				'{{abs.etudiant.user.username}}');	
		{% endfor %}
			$('.glyphicon').tooltip();
		}
    
  </script>
{% endblock %}