		<div class="row">
			<div class="col-md-3"><h3 class="text-muted"><img src="/static/images/logo.png" alt="Logo"/></div>
			<div class="col-md-3">LA solution de gestion d'absences</h3></div>
			{% if user.is_authenticated %}
			<div class="col-md-4">Connecté en tant que : {{request.user.username}}</div>
			<div class="col-md-2"><a href="./logout"><button type="button" class="btn">(Deconnexion)</button></a></div>
		{% else %}
			<div class="col-md-4">Vous n'êtes pas connecté</div>
			<div class="col-md-2"><a href="#"><button type="button" class="btn" id="lienCo" data-toggle="modal" data-target="#loginModal">Connexion</button></a></div>
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Connexion</h4>
			  </div>
			  <form action="/login/" method="POST">{% csrf_token %}
			  <div class="modal-body">
				<input type="text" class="form-control" placeholder="Identifiant" id="username" name="username"/> <br/>
				<input type="password" class="form-control" placeholder="Mot de passe" id="password" name="password"/> 
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				<button type="submit" class="btn btn-primary">Se Connecter</button>
			  </div>
			  </form>  
			  </div>
		  </div>
		</div>	
		{% endif %}

        </div>
        <h3 class="text-muted"><img src="/static/images/logo.png" alt="Logo"/> LA solution de gestion d'absences</h3>
      </div>