{% if user.is_authentificated %}
	<a href="./logout"><button type="button" class="btn">Deconnexion</button></a>
{% else %}
	<a href="./logout"><button type="button" class="btn">Connexion</button></a>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Connexion</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" placeholder="Identifiant" id="username"/> <br/>
        <input type="password" class="form-control" placeholder="Mot de passe" id="password"/> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-primary">Se Connecter</button>
      </div>
    </div>
  </div>
</div>
	
{% endif %}
