
{% extends "base.html" %}

{% block content %}
	<h1>Espace Secrétaire</h1>
	<br/>
	Recherche d'un étudiant:
	{% include "rechercheEtu.html" %}
	<div id="absences"></div>
	<br/><br/><div id="listeJustifs"></div>
	<div class="modal fade" id="justifModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">Nouveau Justificatif pour </h4>
		  </div>
		  <div id="alertModal"></div>
		  <form action="/justification/" method="POST" onsubmit="return validateFormJustif()">{% csrf_token %}
		  <div class="modal-body">
		  	<input type="hidden" id="etudiant" name="etudiant" value="-1"/>
		  	<table class="table responsive">
			  	<tr><td><input placeholder="Date de début" id="dateDebut" name="dateDebut" type="text" class="datepicker form-control"></td>
				<td><input placeholder="Date de fin" id="dateFin" name="dateFin" type="text" class="datepicker form-control"></td></tr>
			</table>
			<input type="textarea" placeholder="Motif de la justification" class="form-control" id="justif" name="justif"/>
		  </div>
		  <div class="modal-footer">
			<button type="submit" id="submitJustif" class="btn btn-primary">Valider</button>
		  </div>
		  </form>  
		  </div>
	  </div>
	</div>
	
<script>
function addEtu(nom, prenom ,username)
{
	$.get("../getJustif/"+username, function(data)
	{
		result = "<button id='addJustif' class='btn btn-primary'>Ajouter un justificatif</button><br/><br/>";
		$("#searchInput").val("");
		$('#suggestion').html("");
		if (data.indexOf("n'a pas") == -1)
		{
			result += "<table class='table table-striped'>";
			result += "<tr><th>Début</th><th>Fin</th><th>Secrétaire</th><th>Motif</th></tr>";
			result += data.replace(/\ - ..:../g, '') + "</table>"; 
			$("#listeJustifs").html(result);
		}
		else $("#listeJustifs").html(result+data);
		
		$('#addJustif').on('click', function() 
		{
			$('#justifModal').modal('toggle');
			$("#etudiant").val(username);
			$('#myModalLabel').html($('#myModalLabel').html()+prenom+" "+nom);
		});
	});
}

$('.datepicker').datepicker({
    format: 'yyyy-mm-dd',
}).on('changeDate', function(){$(this).datepicker('hide');}).data('datepicker');

function openJustif(id)
{
	$("#idAbs").val(id);
	$("#justifModal").modal('toggle');
}

function validateFormJustif()
{
	message = "";
	if ($("#justif").val().length == 0) 
	{
		 message += "Vous devez entrer une justification pour l'absence<br/>";
	}
	var dateD = new Date($('#dateDebut').val());
	var dateF = new Date($('#dateFin').val());
	if (dateD > dateF) message += "La date de début ne peut pas être postérieur à la date de fin";
	if (message.length > 0)
	{
	
		$("#alertModal").html(message).addClass("alert alert-danger");
		return false;	
	}
	else return true;
}
</script>

{% endblock %}  