
{% extends "base.html" %}

{% block content %}
	<h1>Espace Secrétaire</h1>
	<br/>
	Recherche d'un étudiant:
	{% include "rechercheEtu.html" %}
	<div id="absences"></div>

	<div class="modal fade" id="justifModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">Justificatif Absence</h4>
		  </div>
		  <form action="/justification/" method="POST" onsubmit="return validateFormJustif()">{% csrf_token %}
		  <div class="modal-body">
		  	<input type="hidden" id="idAbs" name="idAbs" value="-1"/>
			<input type="textarea" class="form-control" placeholder="La justification de l'absence" id="justif" name="justif"/>
		  </div>
		  <div class="modal-footer">
			<button type="submit" id="submitJustif" class="btn btn-primary">Valider</button>
		  </div>
		  </form>  
		  </div>
	  </div>
	</div>
	
<script>
function addEtu(nom, prenom ,id)
{
	$.get("../getAbsencesEtu/"+id, function(data)
	{
		$("#searchInput").val("");
		$('#suggestion').html("");
		var absences = "<br/>Absences de "+prenom+" "+nom+":<br/>";
		absences += "<table class='table'>"+data+"</table>";
		document.getElementById('absences').innerHTML=absences;
	});
}

function openJustif(id)
{
	$("#idAbs").val(id);
	$("#justifModal").modal('toggle');
}

function validateFormJustif()
{
	justif = $("#justif").val();
	if (justif.length > 0) return true;
	else 
	{
		alert("Vous devez entrer une justification pour l'absence");
		return false;	
	}
}
</script>

{% endblock %}  