
{% extends "base.html" %}

{% block content %}
	<h1>Espace Secrétaire</h1>
	<br/>
	Recherche d'un étudiant:
	{% include "rechercheEtu.html" %}
	<div id="absences"></div>
	<br/><br/><div id="listeJustifs"></div>
	<div class="modal fade" id="justifModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">Nouveau Justificatif</h4>
		  </div>
		  <form action="/justification/" method="POST" onsubmit="return validateFormJustif()">{% csrf_token %}
		  <div class="modal-body">
		  	<div class="input-append date" id="dateDebut" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
			  <input class="span2" size="16" type="text" value="12-02-2012">
			  <span class="add-on"><i class="icon-th"></i></span>
			</div>
			<input type="textarea" class="form-control" placeholder="La justification de l'absence" id="justif" name="justif"/>
		  </div>
		  <div class="modal-footer">
			<button type="submit" id="submitJustif" class="btn btn-primary">Valider</button>
		  </div>
		  </form>  
		  </div>
	  </div>
	</div>
	
<script>
function addEtu(nom, prenom ,username)
{
	$.get("../getJustif/"+username, function(data)
	{
		result = "<button id='addJustif' class='btn btn-primary'>Ajouter un justificatif</button><br/><br/>";
		$("#searchInput").val("");
		$('#suggestion').html("");
		if (data.indexOf("n'a pas") == -1)
		{
			result += "<table class='table table-striped'>";
			result += "<tr><th>Début</th><th>Fin</th><th>Secrétaire</th><th>Motif</th></tr>";
			result += data + "</table>";
			$("#listeJustifs").html(result);
		}
		else $("#listeJustifs").html(result+data);
		
		$('#addJustif').on('click', function() 
		{
			$('#justifModal').modal('toggle');
			$('#dateDebut').datepicker();
		});
	});
}



function openJustif(id)
{
	$("#idAbs").val(id);
	$("#justifModal").modal('toggle');
}

function validateFormJustif()
{
	justif = $("#justif").val();
	if (justif.length > 0) return true;
	else 
	{
		alert("Vous devez entrer une justification pour l'absence");
		return false;	
	}
}
</script>

{% endblock %}  